/***** MAIN *****/

body p {
  font-family: 'Work Sans', sans-serif;
  color: black;
  text-align: center;
}

body h2 {
  font-family: 'Satisfy', cursive;
  font-size: 33px;
  text-align: center;
  margin: 0 auto;
}

.img-greenery {
  padding: 0 525px 0 525px;
}

a:hover {
  font-style: italic;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/

#header {
  background-image: url('../img/hero-flowers.jpg');
  background-size: cover;
  margin: 0 auto;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 140px;
  color: white;
  padding: 100px 250px 15px 250px;
  margin: 0 auto;
}

#header p {
  text-align: center;
  font-size: 25px;
  color: white;
  padding-bottom: 50px;
}

/***** NAV *****/

.navbar {
  overflow: hidden;
  background-color: #ffe6e6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.navbar li {
  display: inline-block;
  padding: 5px 0 5px 0;
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding: 14px 16px;
  font-family: 'Work Sans', sans-serif;
}

/***** ABOUT *****/

#about h2 {
  text-align: center;
  padding: 70px 0 0 0;
}

#about p {
  font-size: 20px;
  line-height: 50px;
  padding-bottom: 50px;
}

/***** DETAILS *****/

#details {
  background-color: #A6A670;
  text-align: center;
}

#details h2 {
  color: white;
  width: 190px;
  margin: 0 auto;
  padding-top: 70px;
}

#details img {
  padding-bottom: 30px;
}

#details p {
  line-height: 30px;
  padding: 0 50px;
  font-size: 16px;
}

#details a {
  text-decoration: none;
  color: #e6e6e6;
}

/***** PHOTOS *****/

#photos {
  text-align: center;
}

#photos h2 {
  padding-top: 70px;
}

.img-specs {
  width: 275px;
  padding: 15px 20px 5px 0;
}

/***** REGISTRY *****/

#registry {
  background-color: #ff9999;
  text-align: center;
}

#registry h2 {
  padding: 70px 0 18px 0;
}

#registry p {
  line-height: 30px;
  padding: 0 50px 15px 0;
  font-size: 16px;
}

#bbb-img {
  padding-bottom: 35px;
}

/***** RSVP *****/

#rsvp {
  background-color: #626267;
  text-align: center;
}

#rsvp h2 {
  color: white;
  padding-top: 30px;
}

#rsvp p {
  font-size: 16px;
}

#rsvp a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 25px;
  padding-bottom: 35px;
}

#rsvp h3 {
  font-size: 28px;
  font-family: 'Satisfy', cursive;
  color: white;
  padding-top: 15px;
}

#rsvp h4 {
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

#rsvp img {
  float: left;
  padding: 0 0 20px 30px;
}
